<h1>About</h1>
<p>Christmas 2012 was not the best. It was fine, but it wasn't the best. It certainly didn't compare to the 2011 holidays, which Erin and Chris spent traveling throughout Austria and Germany. If you're going to spend a week or two traveling around, it's more fun to explore somewhere new than commit to life on the NYS Thruway and all the tri-state bridges and tunnels.</p>
<p>For 2013, we propose a family vacation to some other locale. Vote or add locations, and we will look to rent a house for family members who want to join us to explore the holidays in a new place, new culture, or just a new setting. If tradition's out the window (as it was this year), let's make a new, fun tradition with new sites, new sounds, new food.Christmas should, and CAN, be better.</p>
