/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	background-color: #eee;
}

body {
	width: 80%;
	margin: 0 auto;
	background-color: #9E1124;
	color:#ffe;
	padding: 20px 40px;
	border: 1px double #ddd;
	font-family: 'Rock Salt', cursive;
}

header {
	background-image: url(/images/holidayretailers.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	color: #850B1B;
	font-weight: bolder;
	padding: 20px;
	border: #ffe;
}

header h1 {
	font-family: 'Rock Salt', cursive;
	font-size: 38px;
	text-align: justify;

}

nav ul{
	list-style: none;
	text-align: right;
	margin-left:0;
	padding-left:0;
	font-family: 'Rock Salt', cursive;
	font-size: 16px;
}
nav li{
	display: inline;
}

header a:link {color: #B31428;}
header a:visited {color: #B31428;}
header a:hover {color:#ffe;}
header a:active {color: #B31428}

table{
	width: 100%;
	color: #ffe;
	font-family: Verdana, sans-serif;
}

thead th{
	border-bottom: 2px solid #ccc;
	text-align: left;
	padding: 5px 0;
}
                                                          
a:link {color: #ffe;}
a:visited{color: #ffe;}
a:hover{color:#ffe;}
a:focus{color:#ffe;}
a:active{color: #ffd;}